<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Finded Pet's</h4>
            <p class="card-category"> Here is a Reports Finded table</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class=" text-primary">
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Species</th>
                        <th>Photo</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let report of reports | paginate: {itemsPerPage: 5, currentPage: view}">
                            <td>{{ report.pet.namePet }}</td>
                            <td>{{ report.pet.race }}</td>
                            <td>{{ report.pet.specie }}</td>
                            <td>
                                <img class="img" src="./assets/imgPets/petsImg.png" />
                            </td>
                            <td>{{ report.status }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="view = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
