<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">house</i>
                        </div>
                        <p class="card-category">Revenue</p>
                        <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-paw"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ng-container *ngIf="auth.isAuthenticated$ | async">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" name="filterReport" [(ngModel)]="filterReport" value="" class="form-control" placeholder="Search...">
                            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </ng-container>
                <div *ngIf="auth.isAuthenticated$ | async; else greeting" class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Reports:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#byMe" data-toggle="tab">
                                            <i class="material-icons">folder_shared</i> By You
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item text-right">
                                        <a mat-button class="nav-link" href="/new-report">
                                            <i class="material-icons">add_circle</i> Create New
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="byMe">
                                <table class="table table-hover">
                                    <thead class="text-primary">
                                        <th>Name</th>
                                        <th>Breed</th>
                                        <th>Species</th>
                                        <th>Photo</th>
                                        <th>Status</th>
                                        <th>Preview</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let report of reports | filter: filterReport | paginate: {itemsPerPage: 5, currentPage: pages}"
                                            (click)="viewDetailReport(report.id)">
                                            <td>{{ report.pet.namePet }}</td>
                                            <td>{{ report.pet.race }}</td>
                                            <td>{{ report.pet.specie }}</td>
                                            <td>
                                                <img class="img" src="./assets/imgPets/petsImg.png" />
                                            </td>
                                            <td>{{ report.status }}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Show Details"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="pages = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #greeting>
                    <div class="alert">
                        <span>
                            <h4 class="card-title">Please!</h4>
                        </span>

                        <a class="nav-link" href="/user-profile">
                            <i class="material-icons">person</i> Log In to Access your data
                        </a>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>
</div>