<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Reports Table</h4>
                        <p class="card-category"> Here is a Reports table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Name</th>
                                    <th>Breed</th>
                                    <th>Species</th>
                                    <th>Photo</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let report of reports | paginate: {itemsPerPage: 5, currentPage: actual}">
                                        <td>{{ report.pet.namePet }}</td>
                                        <td>{{ report.pet.race }}</td>
                                        <td>{{ report.pet.specie }}</td>
                                        <td>
                                            <img class="img" src="./assets/img/faces/marc.jpg" />
                                        </td>
                                        <td>{{ report.status }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="actual = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>